<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/signin" />
                <rewriteMap name="/action/signin" />
                <rewriteMap name="signout" />
                <rewriteMap name="action/signout" />
                <rewriteMap name="/action/signout" />
                <rewriteMap name="/books" />
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule for /signin" patternSyntax="ExactMatch">
                    <match url="signin" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="signin.php" appendQueryString="false" />
                </rule>
                <rule name="Rewrite rule for /action/signin" patternSyntax="ExactMatch">
                    <match url="action/signin" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="action/signin.php" appendQueryString="false" />
                </rule>
                <rule name="Rewrite rule1for /action/signout">
                    <match url="action/signout" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="action/signout.php" appendQueryString="false" />
                </rule>
                <rule name="Rewrite rule1 for /books" patternSyntax="ExactMatch">
                    <match url="books" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" url="books.php" appendQueryString="false" />
                </rule>
								<rule name="Rewrite to book.php">
                   <match url="books/([0-9]+)" />
                   <action type="Rewrite" url="book.php?id={R:1}" />
                </rule>
								<rule name="Rewrite to img.php">
                   <match url="imgs/([0-9]+)/([0-9]+)" />
                   <action type="Rewrite" url="img.php?bookId={R:1}&amp;id={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
